PAPER_MODE=true

LOG_LEVEL=INFO

INTRA_ARB_SCAN_INTERVAL=3
LOGIC_ARB_SCAN_INTERVAL=6
MM_SCAN_INTERVAL=4
MARKET_REFRESH_INTERVAL=30
WS_BROADCAST_INTERVAL=2

INTRA_ARB_MIN_EDGE=0.025
LOGIC_ARB_MIN_EDGE=0.04
MM_MIN_SPREAD=0.05

MAX_MARKETS_TO_SCAN=200
MIN_MARKET_VOLUME=500

PRIVATE_KEY=
FUNDER_ADDRESS=
